<% comments.each do |comment| %>
    <h3><%= link_to comment.user.name, user_path(comment.user) %><h3>
    <h5>
        Rating: <%= comment.rating %>
        Comment: <%= comment.content %>
    </h5>
<% end %>