<h1>Account Details</h1>

Name: <%= @user.name %>
<br>
Email: <%= @user.email %>

<% if logged_in? %>
    <h3>Your Recent Comments: </h3>
<% else %>
    <h3><%= "#{@user.name}'s Recent Comments" %></h3>
<% end %>

<%= render 'comments/comment_list', comments: @user.comments %>